//flask
//streamlit 
//numpy
//matplotlib
//tkinter.filedialog
//streamlit_option_menu
//matplotlib.image
//base64
//pandas
//sklearn
//time
//sklearn.model_selection
//sklearn.ensemble
//os
streamlit
streamlit-option-menu
pandas
numpy
matplotlib
scikit-learn
openpyxl
requests
