//flask
//streamlit 
//numpy
//matplotlib
//tkinter.filedialog
//streamlit_option_menu
//matplotlib.image
//base64
//pandas
//sklearn
//time
//sklearn.model_selection
//sklearn.ensemble
//os
//sqlite3
flask==2.2.5  
streamlit==1.14.0  
numpy==1.24.0  
pandas==1.5.3  
scikit-learn==1.2.0  
matplotlib==3.6.0  
streamlit-option-menu==0.3.2  
gunicorn  
